/* global */
body {
  background: #161616;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

main {
  position: relative;
}


/* intro page */
#intro-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#onboarding-slideshow {
  width: 400px;
  height: 400px;
  padding: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.onboarding-text {
  margin-top: 20px;
}

.slide {
  display: none;
}

#start-btn {
  margin-top: 30px;
  padding: 10px 15px;
  font-weight: 550;
  font-size: 20px;
  color: white;
  background: #161616;
  border-radius: 25px;
  border: 1px solid white;
  cursor: pointer;
  box-sizing: border-box;
  transition: 0.5s;
}

#start-btn:hover {
  color: #161616;
  background: white;
  box-shadow: 
    0 0 10px white,
    0 0 20px white,
    0 0 40px white;
}

@media screen and (max-width: 874px) {
  #onboarding-slideshow {
    width: 80%;
    height: 55vh;
  }

  #intro-page {
    height: 100vh;
  }

  #logo {
    width: 150px;
  }
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.0s;
  animation-name: fade;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  } 
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  } 
  to {
    opacity: 1;
  }
}


/* game page */
#game-page {
  display: none;
}

#score-board {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 20px;
  z-index: 1;
}

#bgd-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}