:root {
  --dark: #161616;
  --light: #eeeeee;
}

/* global */
body {
  background: var(--dark);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--light);
}

main {
  position: relative;
}

h3 {
  font-size: 16px;
}


/* intro page */
#intro-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#onboarding-slideshow {
  width: 400px;
  height: 400px;
  padding: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.onboarding-text {
  margin-top: 20px;
}

.slide {
  display: none;
}

#start-btn,
#restart-btn {
  margin-top: 20px;
  padding: 10px 15px;
  font-weight: 550;
  font-size: 20px;
  color: white;
  background: var(--dark);
  border-radius: 25px;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.5s;
}

#start-btn:hover,
#restart-btn:hover {
  color: var(--dark);
  background: var(--light);
  box-shadow: 
    0 0 10px var(--light),
    0 0 20px var(--light),
    0 0 40px var(--light);
}

@media screen and (max-width: 874px) {
  #onboarding-slideshow {
    width: 80%;
    height: 55vh;
  }

  #intro-page {
    height: 100vh;
  }

  #logo {
    width: 150px;
  }
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.0s;
  animation-name: fade;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  } 
  to {
    opacity: 1.0;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  } 
  to {
    opacity: 1.0;
  }
}


/* game page */
#game-page {
  display: none;
}

#score-board {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  padding: 10px 20px;
  z-index: 1;
}

#score-board > div {
  margin-right: 60px;
}

#score-board h2 {
  font-size: 18px;
  text-shadow: 0 0 10px var(--dark);
}

#score-board p {
  font-size: 16px;
  text-shadow: 0 0 10px var(--dark);
}

#bgd-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}


/* modal box */
#modal-box {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  background-color: rgba(22, 22, 22,0.4);
}

#modal-content {
  background-color: var(--dark);
  border-radius: 5px;
  color: var(--light);
  text-align: center;
  width: 60%;
  margin: 100px auto;
  padding: 30px;
  box-shadow: 0 0 10px var(--light);
}

#modal-content > h3 {
  font-size: 20px;
}

#modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

#modal-wrapper > div {
  margin: 0 40px;
}

@media screen and (max-width: 874px) {
  #modal-content {
    width: 80%;
  }
}