/* global */
body {
  background: #161616;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  overflow: hidden;
}

main {
  position: relative;
}


/* intro page */
#intro-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#onboarding-slideshow {
  width: 400px;
  height: 400px;
  padding: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.onboarding-text {
  margin-top: 20px;
}

.slide {
  display: none;
}

#start-btn {
  padding: 10px 15px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 874px) {
  #onboarding-slideshow {
    width: 80%;
    height: 55vh;
  }

  #intro-page {
    height: 100vh;
  }

  #logo {
    width: 150px;
  }
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.0s;
  animation-name: fade;
  animation-duration: 2.0s;
  animation-timing-function: ease-out;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* game page */
#game-page {
  display: none;
}

#score-board {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 20px;
  z-index: 1;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#game-canvas{
  filter: url("#gooey");
}

#my-orb,
#smaller-orb,
#larger-orb {
  display: none;
}